.input-box{
    width:45%;
    color:white;
    text-align: center;
}
.main-container{
    background: #0575E6; 
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
}
.filter-city{
    width:200px;
    color:white;
}
.filter-space{
    width: 200px;
    color:white;
}
.filter-cluster{
    width:200px;
    color:white;
}
.filter-with-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px
}
.filter{
    width:60%;
    display: flex;
    justify-content: space-evenly;
    
}